body{
  background-color: rgb(21, 78, 100);
}
#cabecalho{
  border: 1px solid black;
  height: 40px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-top:-10px;
  margin-right: -8px;
  margin-bottom: 0px;
  margin-left: -10px;
  padding-top: 0px;
  padding-bottom: 80px;
}

#whatsapp{
  width: 50px;
  position: absolute;
  margin-bottom: 0px;
  left: 1100px;
  top: 31px;
}

#icone1{
  width: 80px;
  position:absolute;
  margin-bottom: 0px;
  left: 60px;
  top: 31px;
}

#interface{
  width: 200px;
  height: 76px;
  display: block;
  float: left;
  margin-top: 0px;
  margin-left: -10px;
  margin-right: 0px;
  padding-top: 8px;
}

#menu{
  background-color: rgb(20, 74, 124);
  width: 180;
  height: 509px;
  border: 1px solid black;
  margin-top: -9px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#menu li{
  border: 1px solid black;
  list-style: none;
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 60px;
  text-align: left;
  font-size: 12px;
  color: rgb(51, 47, 47);
  transition: 0.5s;
}
.a1{
  display: block;
  border: 1px solid black;
  text-decoration: none;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 1px black;
  transition: 0.5s;
  margin-top: -17px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
.a1:hover{
  text-decoration: none;
  background-color: #606060;
}


.frame{
  display: block;
  float: right;
  position: absolute;
  width: 1079px;
  height: 509px;
  margin-left: 189px;
  margin-top: -1px;
  border: 1px solid black;
}

#rodape{
  display: block;
  position: absolute;
  top: 629px;
  width: 100%;
  border-top: 1px solid black;
  background-color: rgb(58, 57, 57);
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding-top: 10px;
  padding-bottom: 25px;
  margin-right: -20px;
  margin-bottom: -10;
  margin-left: -8px;
}