body{
  background-color: rgb(73, 182, 255);
}
#album{
  width: 800px;
  margin: auto;
  padding: 50px;
  overflow: hidden;
  list-style: none;
  margin-bottom: 0px;
}
ul li{
  float:left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 0px solid white;
  box-shadow: 4px 4px 1px black;
  -webkit-transition: all 0.3s ease-in;
}
ul li span{
  opacity: 0;
  font-size: 10px ;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0,0,0,.3);
  padding: 10px;
  line-height: 370px;
}
ul li:hover{
  -webkit-transform: scale(1.5);
}
li:hover span{
  opacity: 1;
}
li#foto01{
  background: url('../_imagens/galeria-01.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
}
li#foto01:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
li#foto02{
  background: url('../_imagens/galeria-02.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
}
li#foto02:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
li#foto03{
  background: url('../_imagens/galeria-03.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
}
li#foto03:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
li#foto04{
  background: url('../_imagens/galeria-04.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
}
li#foto04:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
li#foto05{
  background: url('../_imagens/galeria-05.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
}
li#foto05:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
li#foto06{
  background: url('../_imagens/galeria-06.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
}
li#foto06:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
