@charset "UTF-8";
body{
  background-color: rgb(73, 182, 255);
}
#vaudio{
  width: 900px;
  height: 600px;
  margin: auto;
  background: url("../_imagens/radio-tv.png")no-repeat;
}
#video{
  display: block;
  width: 460px;
  height: 400px;
  position: relative;
  left: 76px;
  top: -45px;
}
#audio{
  display: block;
  position: relative;
  left: 575px;
  top: 490px;
}