body{
  background-color: rgb(73, 182, 255);
  width: 920;
  font-family: arial;
  font-size: 15px;
  overflow:hidden;
}
body::-webkit-scrollbar{
  display:none;
}
p{
  text-align: justify;
  text-indent: 15px;
}
article h1{
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 1px black;
  padding: 5px;
  margin: -10px;
}

article h2{
  font-size: 25px;
  color: rgb(122, 117, 117);
  margin: 0px;
}
article{
  margin-bottom: 450pt;
  overflow: none;
}
