body{
  background-color: rgb(73, 182, 255);
}
h1{
  background-color: rgb(36, 34, 34);
  text-align: center;
  color: beige;
  text-shadow: 2px 2px 1px black;
}
#principalspec{
  overflow: hidden;
}
#conteudo{
  display: block;
  width: 300px;
  margin: auto;
  overflow: hidden;
  box-shadow: 2px 2px 1px black;
}
#img1{
  box-shadow: 5px 5px 1px black;
  border-radius: 5px 5px 5px 5px;
}
.frame{
  display: block;
  width: 400px;
  height: 400px;
  border: none;
  float: right;
}

